@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #334155;
  --color-accent: #3b82f6;
}

body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
}
